### Pandas merge is more powerful than vlookup

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
shipping_file = Path.cwd() / 'data' / 'raw' / 'shipping_tables.xlsx'

In [3]:
df_sales = pd.read_excel(shipping_file, sheet_name='sales', usecols='A:E')
df_shipping = pd.read_excel(shipping_file, sheet_name='shipping_rates')

In [4]:
df_sales

    order id order date state  priority        item_type
0  669165933 2019-01-03    MN     2-day        Baby Food
1  963881480 2019-01-04    WI  next-day           Cereal
2  341417157 2019-01-05    TX     2-day  Office Supplies
3  514321792 2019-01-06    CA  next-day  Office Supplies
4  115456712 2019-01-07    CA     2-day  Office Supplies
5  547995746 2019-01-08    NY  next-day           Cereal
6  135425221 2019-01-09    NY  next-day           Cereal
7  871543967 2019-01-10    TX  next-day            Fruit
8  770463311 2019-01-11    FL     2-day        Baby Food

In [5]:
df_shipping

         item_type  shipping_cost
0        Baby Food            5.0
1           Cereal            4.5
2            Fruit            3.0
3  Office Supplies            7.0

In [6]:
results = pd.merge(df_sales, df_shipping, how='left')
results

    order id order date state  priority        item_type  shipping_cost
0  669165933 2019-01-03    MN     2-day        Baby Food            5.0
1  963881480 2019-01-04    WI  next-day           Cereal            4.5
2  341417157 2019-01-05    TX     2-day  Office Supplies            7.0
3  514321792 2019-01-06    CA  next-day  Office Supplies            7.0
4  115456712 2019-01-07    CA     2-day  Office Supplies            7.0
5  547995746 2019-01-08    NY  next-day           Cereal            4.5
6  135425221 2019-01-09    NY  next-day           Cereal            4.5
7  871543967 2019-01-10    TX  next-day            Fruit            3.0
8  770463311 2019-01-11    FL     2-day        Baby Food            5.0